.center {
    text-align: center;
    justify-content: center;
}

img {
    max-height: 25%;
    max-width: 60%;
    margin: 20px 0 0px;
    pointer-events: none;
    justify-content: center;
}

.content{
    background: rgb(211, 219, 221); ;
    height: 100%;
    padding: 40px;
}